@model StudentsManagement.Models.Course

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CName)
        </dd>

    </dl>
</div>
<p>
    <div class="btn-group">
        <a class="btn btn-info btn-sm" href="@Url.Action("Edit", new { id = Model.CID })" role="button">Edit</a>
        <a class="btn btn-info btn-sm" href="@Url.Action("Index")">Back</a>
    </div>
</p>
