@model StudentsManagement.Models.Score
@{
    ViewBag.Title = "教师课程查询";
    Layout = "~/Views/Shared/_LayoutForStu.cshtml";
}

<div class="jumbotron">
    <h3 class="display-4">Welcome to Lin's Teacher management system</h3>
    <p class="lead">This is a simple Teacher management system .</p>
    <hr class="my-4">
    <p>请点击查询您的课程</p>
    <a class="btn btn-dark btn-lg" href="@Url.Action("ForStu","Scores")" role="button">查看课程</a>
</div>
