@{
    ViewBag.Title = "教师管理系统";
}

<div class="jumbotron">
    <h3 class="display-4">Welcome to Lin's Teachers management system</h3>
    <p class="lead">This is a simple Teachers management system .</p>
    <hr class="my-4">
    <div class="btn-group">      
        <a class="btn btn-dark btn-lg" href="@Url.Action("InitStu","Lin")" role="button">初始化</a>
        <a class="btn btn-dark btn-lg" href="@Url.Action("Signin","Sign")">退出</a>
    </div>
</div>